@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
@layer components {
  .sidebarIcon {
    @apply h-6 text-[#808080] cursor-pointer;
  }
  .tag {
    @apply py-1.5 px-3 text-[#cecece] rounded-xl text-xs font-bold border-2 border-[#484848];
  }
  .genre {
    @apply bg-[#101010] text-[#cecece] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default;
  }
  .btn {
    @apply text-[#cecece] bg-[#1a1a1a] text-[13px] py-3.5 px-4 rounded-2xl w-[15rem] font-bold bg-opacity-80 hover:bg-opacity-100 transition ease-out mt-2.5;
  }
  .icon {
    @apply hover:scale-125 transition-all duration-150 ease-out;
  }
  .croppedIcon {
    clip-path: inset(0 50% 0 0);
  }

  .playerIcon {
    @apply transition ease-out transform hover:scale-105 hover:text-white;
  }
}
@layer base {
  body {
    @apply scrollbar-hide bg-black;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Andada Pro", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
